.markdown-preview {
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  background-color: #ffffff;
  height: 24rem;
  overflow-y: auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 11pt;
  line-height: 1.3;
  color: #000000;
}

.markdown-preview h1, .markdown-preview h2, .markdown-preview h3, .markdown-preview h4, .markdown-preview h5, .markdown-preview h6 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #000000;
  margin-top: 1.2em;
  margin-bottom: 0.6em;
  line-height: 1.15;
}

.markdown-preview h1 {
  font-size: 16pt;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

.markdown-preview h2 {
  font-size: 14pt;
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
  padding-bottom: 0.2em;
}

.markdown-preview h3 {
  font-size: 12pt;
  font-weight: bold;
  text-decoration: underline;
}

.markdown-preview p {
  margin-bottom: 0.8em;
  text-align: justify;
  text-indent: 1.25cm;
}

.markdown-preview h1 + p, .markdown-preview h2 + p, .markdown-preview h3 + p, .markdown-preview h4 + p, .markdown-preview h5 + p, .markdown-preview h6 + p {
  text-indent: 0;
}

.markdown-preview ul, .markdown-preview ol {
  margin-bottom: 0.8em;
  padding-left: 1.5cm;
}

.markdown-preview li {
  margin-bottom: 0.3em;
  text-align: justify;
}

.markdown-preview table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  border: 1px solid #333333;
}

.markdown-preview th, .markdown-preview td {
  border: 1px solid #333333;
  padding: 6px;
  text-align: left;
  vertical-align: top;
}

.markdown-preview th {
  background-color: #e0e0e0;
  font-weight: bold;
}